body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  transition: background-color 0.5s, border-color 0.5s; /* Додано border-color */
  border: 5px solid #f0f0f0; /* Початковий колір обводки, який співпадає з фоном */
  border-radius: 50%; /* Зробити обводку круглою */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тінь для кращої видимості */
}

.container {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #333;
  border: 5px solid #333;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

